.footer {
    background-color: #f8f8f8; 
   font-size: 13px;
    text-align: left;
    padding: 90px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: x;
    margin: px;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .footer-section a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .subscribe-container {
    display: flex;
    margin-bottom: 10px;
  }
  
  .subscribe-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  .subscribe-container button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  .subscribe-container button:hover {
    background-color: darkblue;
  }
  
  .footer-note {
    font-size: 12px;
    color: #777;
    text-align: left;
    margin-top: 50px;
  }
  