.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  
  .image1, .image2, .image3, .image4 {
    margin: 5px;
  }
  
  .image2-3 {
    display: flex;
    flex-direction: column;
  }
  
  