.products-section {
    text-align: left;
    padding: 20px;
  }
  
  .products-header {
    margin-top: 100px;
    line-height: 0.8;
    margin-bottom: 120px;
    text-align: center;
  }
  
  .products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-card {
    width: 16%;
    margin: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .load-more {
    border: 1px solid blue;
    color: blue;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    width: 220px;
    margin: 110px;
    position: relative;
    left: 35%;
  }
  